<head>
	<title>
		{% block title %}Mon compte - Swaply
		{% endblock %}
	</title>
</head>

{% block body %}
	{% include 'base.html.twig' %}
	{% if app.user %}
		<span class="flex items-center justify-center space-x-4">
			<h1 class="text-4xl font-bold">Bonjour
				{{ app.user.username }}
				!</h1>
		</span>

		<section class="flex justify-center mt-16">
			<div class="text-start max-w-screen-xl px-4">
				<h2 class="mb-4 text-gray-400">
					Votre prénom & nom
				</h2>
				<h1 class="mb-4 font-semibold text-white">{{ app.user.getFirstName() }}
					{{ app.user.getLastName() }}</h1>
				<h2 class="mb-4 text-gray-400">
					Votre nom d'utilisateur
				</h2>
				<h1 class="mb-4 font-semibold text-white>">{{ app.user.username }}</h1>
				<h2 class="mb-4 text-gray-400">
					Votre adresse mail
				</h2>
				<h1 class="mb-4 font-semibold text-white>">{{ app.user.email }}</h1>
				{% if app.user.isAdmin %}
					<h2 class="mb-4 text-gray-400">
						Certifié
					</h2>
					<img src="{{ asset('assets/img/icons-website/certified.png') }}" alt="Logo" class="w-9 mb-5">
				{% else %}
					Non certifié
				{% endif %}

				<hr class="h-px my-16 border-[#2F3466] border-2 w-3/4 mx-auto">

				<div class="flex justify-center space-x-2">
					<a type="button" href="{{ path('app_logout') }}" class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
						Se déconnecter
					</a>
					<a type="button" class="text-black bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:focus:ring-yellow-900">
						Modifier vos informations
					</a>
					<a type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
						Supprimer votre compte et vos données
					</a>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
