<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}Mon compte - Swaply
			{% endblock %}
		</title>
	</head>

	{% block body %}
		{% if app.user %}
			{% include 'base.html.twig' %}
			<span class="flex justify-center">
				{% if app.user.username %}
					<h1 class="text-4xl font-bold">Bonjour
						{{ app.user.username }}
						!</h1>
				{% endif %}
			</span>

			<section class="flex justify-center mt-16">

				<img src="{{ asset('assets/img/illustrations/profile-picture-default.jpg') }}" alt="Profile Picture default" class="w-1/4 h-128 rounded-3xl mr-16">
				<div class="text-start">
					{% if app.user.getFirstName() %}
						<h2 class="mb-4 text-gray-400">
							Votre prénom & nom
						</h2>
						<h1 class="mb-4 font-semibold text-white">{{ app.user.getFirstName() }}
							{{ app.user.getLastName() }}</h1>
						<h2 class="mb-4 text-gray-400">
							Votre nom d'utilisateur
						</h2>
						<h1 class="mb-4 font-semibold text-white>">{{ app.user.username }}</h1>
					{% endif %}
					<h2 class="mb-4 text-gray-400">
						Votre adresse mail
					</h2>
					<h1 class="mb-4 font-semibold text-white>">{{ app.user.email }}</h1>
					{% if app.user.isAdmin %}
						<h2 class="mb-4 text-gray-400">
							Certifié
						</h2>
						<img src="{{ asset('assets/img/icons-website/certified.png') }}" alt="Logo" class="w-9 mb-5">
					{% endif %}


					<div class="flex justify-center space-x-4">
						<a type="button" href="{{ path('app_logout') }}" class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-red-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mt-5 mb-2 transition-all">
							Se déconnecter
						</a>
						<a type="button" href="#" class="text-black bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-red-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mt-5 mb-2 transition-all">
							Modifier vos informations
						</a>
						<form action="{{ path('user_delete', {id: app.user.id}) }}" method="POST">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">

							<button type="submit" name="user_delete" value="<?=$row['id'];?>" class="text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-900 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mt-5 mb-2 transition-all">Supprimer votre compte et vos données</button>
						</form>
					</div>
				</div>
			</section>
			<hr class="h-px my-16 border-[#2F3466] border-2 w-3/4 mx-auto">
		{% else %}
			{% include './registration/register.html.twig' %}
		{% endif %}
	{% endblock %}
</html>

