{% extends 'base.html.twig' %}

{% block title %}Se connecter - Swaply{% endblock %}

{% block body %}
<form method="post" class="w-full max-w-md mx-auto bg-zinc-900 p-8 rounded-lg shadow-md mt-10">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconecter</a>
        </div>
    {% endif %}

    <h1 class="text-center text-3xl font-bold mb-6 text-white">Connexion</h1>
        <div class="mb-4">
            <label for="inputEmail" class="block text-sm font-medium text-white mb-2">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500" autocomplete="email" required autofocus>
        </div>
        <div class="mb-4">
            <label for="inputPassword" class="block text-sm font-medium text-white mb-2">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500" autocomplete="current-password" required>
        </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="mb-6">
            <label class="inline-flex items-center text-white">
                <input type="checkbox" name="_remember_me" class="mr-2">
                Se souvenir de moi
            </label>
        </div>

        <button class="w-full py-3 bg-rose-600 text-white font-semibold rounded-lg hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500" type="submit">
            Se connecter
        </button>

    <p><a href="#">Mot de passe oublié ?</a></p>
    <p>Pas encore inscrit ? <a href="/register">S'inscrire</a></p>
</form>
{% endblock %}
