<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}Swaply
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	{% block body %}
		{% include 'base.html.twig' %}
		<div class="w-full max-w-screen-xl flex flex-col bg-zinc-900 shadow-sm rounded-full mx-auto p-4 md:p-5">
			<p class="text-2xl text-white mx-auto font-medium">
				<span class="text-indigo-500 font-extrabold">100</span>
				sites/applications alternatives dans
				<span class="inline-block mt-2">
					<img src="{{ asset('assets/img/icons-website/logo-white.webp') }}" alt="Swaply" class="w-28 h-auto" width="116" height="32">
				</span>
			</p>
			<img src="{{ asset('assets/img/illustrations/shield.webp') }}" alt="Shield" class="absolute top-[125px] mb-5" width="191" height="191">
			<img src="{{ asset('assets/img/illustrations/rocket.webp') }}" alt="Rocket" class="absolute right-[400px] top-[225px] mb-5 transform -translate-y-1/2" width="150" height="156">
			<div class="rounded-xl shadow-sm p-6">
				<div class="relative">
					<input class="py-3 ps-10 pe-4 block w-1/2 mx-auto border-zinc-900 rounded-full text-sm text-white bg-black focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none" type="text" role="combobox" aria-expanded="false" placeholder="🔍 Rechercher les alternatives..." value="" data-hs-combo-box-input="" name="q">
				</div>
				<div class="absolute w-full bg-black text-white hover:bg-zinc-900 hover:text-white rounded-xl hidden" id="dropdown-content">
					<div class="max-h-[300px] p-2 rounded-b-xl overflow-y-auto overflow-hidden "></div>
				</div>
				<p class="text-sm text-white font-medium text-center mt-5">
					Swaply permet de trouver des alternatives aux applications dominantes et d’ajouter les vôtres en créant un compte.
				</p>
			</div>
		</div>

		<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Les catégories</h1>
		<div class="grid grid-cols-3 gap-4 w-5/6 mx-auto">
			<a href="/category/browser" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/earth.png') }}" alt="Logo" class="w-6 h-6">
				<span>Navigateurs & Extensions</span>
			</a>

			<a href="/category/communication" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/message.png') }}" alt="Logo" class="w-6 h-6">
				<span>Communication</span>
			</a>

			<a href="/category/entertainment" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/tv.png') }}" alt="Logo" class="w-6 h-6">
				<span>Divertissement</span>
			</a>

			<a href="/category/productivity" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/folders.png') }}" alt="Logo" class="w-6 h-6">
				<span>Productivité</span>
			</a>

			<a href="/category/social-media" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/thumbs-up.png') }}" alt="Logo" class="w-6 h-6">
				<span>Réseaux sociaux</span>
			</a>

			<a href="/category/online-services" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/radio.png') }}" alt="Logo" class="w-6 h-6">
				<span>Services en ligne</span>
			</a>

			<a href="/category/dev" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/code.png') }}" alt="Logo" class="w-6 h-6">
				<span>Développement web</span>
			</a>

			<a href="/category/app" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/smartphone.png') }}" alt="Logo" class="w-6 h-6">
				<span>Applications mobiles</span>
			</a>

			<a href="/category/games" class="bg-indigo-950 hover:bg-indigo-500 text-white p-4 rounded-full flex mx-auto font-bold items-center space-x-2 w-4/6 justify-center transition-all">
				<img src="{{ asset('assets/img/images/games.png') }}" alt="Logo" class="w-6 h-6">
				<span>Jeux</span>
			</a>
		</div>

		<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">

		<h1 class="text-4xl text-white font-bold text-center font-medium mt-5 mb-5">
			Choix de
			<span class="inline-block mt-2">
				<img src="{{ asset('assets/img/icons-website/logo-white.webp') }}" alt="Swaply" class="w-28 h-auto" width="116" height="32">
			</span>
		</h1>

		<div class="flex justify-center">
			<div class="grid grid-cols-3 gap-4 w-5/6 mx-auto">

				{% for product in products %}
					<div class="flex justify-between">
						<button class="p-4 flex items-center mx-auto space-x-2 w-full justify-center cursor-auto">
							<div class="flex flex-col text-left">
								<img src="{{ asset('assets/uploads/icons/' ~ product.icon) }}" alt="{{ product.title }}" class="w-12">
								<div class="text-2xl font-bold">{{ product.title }}</div>
								<div class="flex items-center mt-3 mb-5 space-x-2">
									<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-700 text-white">
										{{ product.badge.code }}
										•
										{{ product.badge.price }}
									</span>
									<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">
										{{ product.category.title }}
									</span>
								</div>
								<div>{{ product.description }}</div>
								<a href="{{ product.github }}" target="_blank" class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none">
									Accéder dans le site
									<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
								</a>
								<a href="{{ product.website }}" class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none">
									En savoir plus
									<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
								</a>
							</div>
						</button>
					</div>
				{% endfor %}
			</div>
		</div>


		<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">

		<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Les tendances actuellement</h1>

		<section class="bg-zinc-900 rounded-3xl w-3/4 mb-10 justify-center mx-auto">
			<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
				<div class="mt-4 md:mt-0">

					<img src="{{ asset(path: 'assets/img/icons/signal.png') }}" alt="Logo" class="w-16">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Signal</h2>
					<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-700 text-white">Open Source • Gratuit</span>
					<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 mb-5 rounded-full text-xs font-medium bg-zinc-500 text-white">Communication</span>
					<p class="mb-6 text-white md:text-lg">Une application de messagerie instantanée cryptée de bout en bout, axée sur la sécurité et la confidentialité des utilisateurs.</p>
				</div>
				<img class="w-full rounded-3xl hidden dark:block" src="{{ asset('assets/img/cover/signal.webp') }}" alt="Signal Cover">
			</div>
			<div class="flex justify-center space-x-4">
				<button type="button" class="mb-9 text-white bg-amber-700 hover:bg-amber-600 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/three-points.png') }}" alt="Three Points" class="w-8 h-8 mr-2">
					Alternatives
				</button>

				<button type="button" class="mb-9 text-white bg-purple-800 hover:bg-purple-900 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/arrow-right.png') }}" alt="Arrow Points" class="w-8 h-8 mr-2">
					En savoir plus
				</button>

				<button type="button" class="mb-9 text-white bg-zinc-800 hover:bg-zinc-700 focus:outline-none focus:ring-4 focus:ring-zinc-700 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 border-zinc-700 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/github.png') }}" alt="GitHub Logo" class="w-8 h-8 mr-2">
					GitHub
				</button>

			</div>
		</section>

		<section class="bg-zinc-900 rounded-3xl w-3/4 mb-10 justify-center mx-auto">
			<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
				<div class="mt-4 md:mt-0">

					<img src="{{ asset(path: 'assets/img/icons/saguenay.webp') }}" alt="Logo" class="w-16">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Saguenay</h2>
					<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-700 text-white">Open Source • Gratuit</span>
					<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 mb-5 rounded-full text-xs font-medium bg-zinc-500 text-white">Réseau social</span>
					<p class="mb-6 text-white md:text-lg">Saguenay est un réseau social où vos données sont protégées, votre vie privée respectée et où l'absence de publicité assure une expérience utilisateur saine.</p>
				</div>
				<img class="w-full rounded-3xl hidden dark:block" src="{{ asset('assets/img/cover/saguenay.webp') }}" alt="Saguenay Cover">
			</div>
			<div class="flex justify-center space-x-4">
				<button type="button" class="mb-9 text-white bg-amber-700 hover:bg-amber-600 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/three-points.png') }}" alt="Three Points" class="w-8 h-8 mr-2">
					Alternatives
				</button>

				<button type="button" class="mb-9 text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-4 focus:ring-purple-900 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/arrow-right.png') }}" alt="Arrow Points" class="w-8 h-8 mr-2">
					En savoir plus
				</button>

				<button type="button" class="mb-9 text-white bg-zinc-800 hover:bg-zinc-700 focus:outline-none focus:ring-4 focus:ring-zinc-700 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 border-zinc-700 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/github.png') }}" alt="GitHub Logo" class="w-8 h-8 mr-2">
					GitHub
				</button>

			</div>
		</section>

		<section class="bg-zinc-900 rounded-3xl w-3/4 mb-10 justify-center mx-auto">
			<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
				<div class="mt-4 md:mt-0">

					<img src="{{ asset(path: 'assets/img/icons/brave.webp') }}" alt="Logo" class="w-16">
					<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Brave</h2>
					<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-700 text-white">Open Source • Gratuit</span>
					<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 mb-5 rounded-full text-xs font-medium bg-zinc-500 text-white">Navigateur Web</span>
					<p class="mb-6 text-white md:text-lg">Un navigateur web axé sur la confidentialité, qui bloque les publicités et les trackers tout en offrant des récompenses via le système de tokens BAT.</p>
				</div>
				<img class="w-full rounded-3xl hidden dark:block" src="{{ asset('assets/img/cover/brave.webp') }}" alt="Brave Cover">
			</div>
			<div class="flex justify-center space-x-4">
				<button type="button" class="mb-9 text-white bg-amber-700 hover:bg-amber-600 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/three-points.png') }}" alt="Three Points" class="w-8 h-8 mr-2">
					Alternatives
				</button>

				<button type="button" class="mb-9 text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-4 focus:ring-purple-900 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/arrow-right.png') }}" alt="Arrow Points" class="w-8 h-8 mr-2">
					En savoir plus
				</button>

				<button type="button" class="mb-9 text-white bg-zinc-800 hover:bg-zinc-700 focus:outline-none focus:ring-4 focus:ring-zinc-700 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 border-zinc-700 flex items-center transition-all">
					<img src="{{ asset('assets/img/icons-website/github.png') }}" alt="GitHub Logo" class="w-8 h-8 mr-2">
					GitHub
				</button>

			</div>
		</section>

		<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">

		<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Les nouveaux applications</h1>
		<section>
			<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
				<div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
					<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-zinc-800 rounded-3xl border border-zinc-600 shadow xl:p-8">
						<img src="{{ asset('assets/img/icons/deepseek.webp') }}" alt="Logo" class="p-2 mb-3 w-16 bg-white rounded-3xl mx-auto">
						<p class="mb-4 text-2xl font-semibold">DeepSeek</p>
						<p class="mb-2 text-zinc-400 sm:text-lg">Alternatives à
							<span class="text-white font-bold">ChatGPT</span>
							et
							<span class="text-white font-bold">Gemini</span>
						</p>
						<p class="text-white sm:text-lg">Eiusmod anim deserunt occaecat proident esse consequat sunt nisi.</p>
					</div>
					<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-zinc-800 rounded-3xl border border-zinc-600 shadow xl:p-8">
						<img src="{{ asset('assets/img/icons/edits.webp') }}" alt="Logo" class="mb-3 w-16 rounded-3xl mx-auto">
						<p class="mb-4 text-2xl font-semibold">Edits</p>
						<p class="mb-2 text-zinc-400 sm:text-lg">Alternatives à
							<span class="text-white font-bold">CapCut</span>
							et
							<span class="text-white font-bold">Shotcut</span>
						</p>
						<p class="text-white sm:text-lg">Eiusmod anim deserunt occaecat proident esse consequat sunt nisi.</p>
					</div>
					<div class="flex flex-col p-6 mx-auto max-w-lg text-center text-white bg-zinc-800 rounded-3xl border border-zinc-600 shadow xl:p-8">
						<img src="{{ asset('assets/img/icons/whisk.png') }}" alt="Logo" class="mb-3 w-16 rounded-3xl mx-auto">
						<p class="mb-4 text-2xl font-semibold">Google Whisk</p>
						<p class="mb-2 text-zinc-400 sm:text-lg">Alternatives à
							<span class="text-white font-bold">DALL·E</span>
							et
							<span class="text-white font-bold">MidJourney</span>
						</p>
						<p class="text-white sm:text-lg">Eiusmod anim deserunt occaecat proident esse consequat sunt nisi.</p>
					</div>
				</div>
			</div>
		</section>

		<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">

		<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Les applications les plus utilisées au monde</h1>
		<div class="grid grid-cols-3 gap-4 w-5/6 mx-auto">
			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset('assets/img/icons/google.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Google</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-700 text-white">Propriétaire • Gratuit</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Moteur de recherche</span>
					</div>
					<div>Un moteur de recherche internet populaire qui permet de trouver des informations, des images, des vidéos, et bien plus encore sur le web.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset('assets/img/icons/facebook.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Facebook</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-700 text-white">Propriétaire • Freemium</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Réseau social</span>
					</div>
					<div>Un réseau social permettant aux utilisateurs de se connecter, partager des photos, des vidéos, des messages et interagir avec des amis et des pages.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset('assets/img/icons/spotify.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Spotify</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-700 text-white">Propriétaire • Freemium</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Lecteur de musique</span>
					</div>
					<div>Une plateforme de streaming musical qui offre un accès à des millions de chansons, albums et playlists.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset('assets/img/icons/netflix.webp') }}" alt="Logo" class="w-6">
					<div class="text-2xl font-bold">Netflix</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Propriétaire • Payant</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Plateforme de streaming</span>
					</div>
					<div>Un service de streaming vidéo offrant une large sélection de films, séries, documentaires et contenus originaux.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset('assets/img/icons/chatgpt.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">ChatGPT</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-700 text-white">Propriétaire • Freemium</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Intelligence artificielle</span>
					</div>
					<div>Un modèle d'intelligence artificielle développé par OpenAI, conçu pour comprendre et générer du texte de manière conversationnelle.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset(path: 'assets/img/icons/amazon.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Amazon</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-700 text-white">Propriétaire • Gratuit</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Shopping</span>
					</div>
					<div>Un géant du commerce en ligne où les utilisateurs peuvent acheter une grande variété de produits, allant de l'électronique aux livres, en passant par la mode.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset(path: 'assets/img/icons/copilot.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Microsoft Copilot 365</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-teal-700 text-white">Propriétaire • Freemium</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Logiciel de productivité</span>
					</div>
					<div>Un assistant intelligent intégré dans les outils de Microsoft 365, conçu pour aider à automatiser des tâches et améliorer la productivité des utilisateurs.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset(path: 'assets/img/icons/photoshop.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Adobe Photoshop</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Propriétaire • Payant</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Design</span>
					</div>
					<div>Un logiciel de retouche d'image et de création graphique utilisé par les professionnels pour manipuler des photos et concevoir des visuels.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>

			<button class="bg-zinc text-white p-4 rounded-2xl flex items-center mx-auto space-x-2 w-5/6 justify-center cursor-auto">
				<div class="flex flex-col text-left">
					<img src="{{ asset(path: 'assets/img/icons/chrome.png') }}" alt="Logo" class="w-12">
					<div class="text-2xl font-bold">Google Chrome</div>
					<div class="flex items-center mt-3 mb-5 space-x-2">
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-700 text-white">Open Source • Gratuit</span>
						<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-zinc-500 text-white">Navigateur web</span>
					</div>
					<div>Un navigateur web populaire développé par Google, offrant une navigation rapide, sécurisée et des fonctionnalités avancées.</div>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						En savoir plus
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
					<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-3xl text-indigo-mid decoration-2 hover:text-indigo-light focus:outline-none focus:text-indigo-mid transition-all disabled:opacity-50 disabled:pointer-events-none" href="#">
						Accéder dans le site
						<img src="{{ asset('assets/img/icons-website/chevron-right.png') }}" alt="Logo" class="w-6">
					</a>
				</div>
			</button>
		</div>
		{% include 'footer.html.twig' %}
	{% endblock %}
</html>
