{% extends 'base.html.twig' %}

{% block title %}S'inscrire - Swaply
{% endblock %}

{% block body %}
{% include 'base.html.twig' %}
	{% if app.user %}
		<div class="mb-3">
			Vous êtes déjà connecté en tant que
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Se déconecter</a>
		</div>
	{% endif %}

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {'attr': {'class': 'w-full max-w-md mx-auto bg-zinc-900 p-8 mt-16 rounded-lg shadow-md'}}) }}
	<h1 class="text-center text-3xl font-bold mb-6 text-white">S'inscrire</h1>
	<div class="mb-4">
		{{ form_row(registrationForm.email, {
            'label': 'Adresse e-mail', 
            'attr': {'class': 'w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500'}
            }) }}
		{{ form_row(registrationForm.plainPassword, {
            'label': 'Mot de passe',
            'attr': {'class': 'w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500'}
        }) }}
		{{ form_row(registrationForm.agreeTerms, {
                'label': 'J\'accepte les conditions d\'utilisation et les règles de confidentalité',
                'attr': {'class': 'text-white'}
            }) }}
		<button type="submit" class="w-full py-3 bg-rose-600 text-white font-semibold rounded-lg hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500">
			S'inscrire
		</button>
		{{ form_end(registrationForm) }}
		<p>Déjà inscrit ?
			<a href="/login">Se connecter</a>
		</p>
	{% endblock %}
