<!DOCTYPE html>
<html lang="fr">
	<head>
	<title>
		{% block title %}S'inscrire - Swaply
		{% endblock %}
	</title>
</head>

{% block body %}
	{% include 'base.html.twig' %}

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {'attr': {'class': 'w-full max-w-md mx-auto bg-zinc-900 p-8 mt-16 rounded-3xl shadow-md'}}) }}
	{% if app.user %}
		<div class="mb-3">
			Vous êtes déjà connecté en tant que
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Se déconecter</a>
		</div>
	{% endif %}
	<h1 class="text-center text-3xl font-bold mb-6 text-white">S'inscrire</h1>
	<div class="mb-4">
		{{ form_row(registrationForm.email, {
            'label': 'Adresse e-mail', 
            'attr': {'class': 'w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-700'}
            }) }}
		{{ form_row(registrationForm.first_name, {
            'label': 'Prénom', 
            'attr': {'class': 'w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-700'}
            }) }}
		{{ form_row(registrationForm.last_name, {
            'label': 'Nom de famille', 
            'attr': {'class': 'w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-700'}
            }) }}
		{{ form_row(registrationForm.username, {
            'label': 'Nom d\'utilisateur', 
            'attr': {'class': 'w-full p-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-700'}
            }) }}
		{{ form_row(registrationForm.plainPassword, {
            'label': 'Mot de passe',
            'attr': {'class': 'w-full p-3 my-3 bg-black text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-700'}
        }) }}
		{{ form_row(registrationForm.agreeTerms, {
                'label': 'J\'accepte les conditions d\'utilisation et les règles de confidentalité',
                'attr': {'class': 'text-white'}
            }) }}
		{{ form_row(registrationForm._token) }}
		<button type="submit" class="w-full py-3 my-5 bg-indigo-500 text-white font-semibold rounded-3xl hover:bg-indigo-700 transition-all">
			S'inscrire
		</button>
		{{ form_end(registrationForm) }}
		<p>Déjà inscrit ?
			<a href="/login">Se connecter</a>
		</p>
	{% endblock %}
