<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}Les alternatives/avis - Swaply
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	{% block body %}
		{% include 'base.html.twig' %}
		<div class="products-list">
			{% for product in products %}
				<section class="rounded-3xl w-3/4 mb-10 justify-center mx-auto">
					{% for message in app.flashes('message') %}
						<div id="alert-border-3" class="flex items-center p-4 mb-4 mt-4 w-4/5 mx-auto text-green-400 border-t-4 border-green-800 bg-gray-800" role="alert">
							<svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
							</svg>
							<div class="ms-3 text-sm font-medium">
								{{message}}
							</div>
						</div>
					{% endfor %}
					<div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
						<div class="mt-4 md:mt-0">
							<img src="{{ asset('assets/uploads/icons/' ~ product.icon) }}" alt="{{ product.title }}" class="w-16">
							<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">{{ product.title }}</h2>
							<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-500 text-white">{{ product.badge.code }}
								•
								{{ product.badge.price }}</span>
							<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 mb-5 rounded-full text-xs font-medium bg-zinc-500 text-white">{{ product.category.title }}</span>
							<p class="mb-6 text-white md:text-lg">{{ product.description }}</p>
						</div>
						<img class="w-full rounded-3xl block" src="{{ asset('assets/uploads/covers/' ~ product.cover) }}" alt="Cover">
					</div>
					<div class="flex justify-center space-x-4">
						<button type="button" class="mb-9 text-white bg-amber-700 hover:bg-amber-600 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 flex items-center transition-all">
							<img src="{{ asset('assets/img/icons-website/three-points.png') }}" alt="Three Points" class="w-8 h-8 mr-2">
							Alternatives
						</button>

						<a href="{{ product.website }}" target="_blank" type="button" class="mb-9 text-white bg-purple-800 hover:bg-purple-900 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 flex items-center transition-all">

							<img src="{{ asset('assets/img/icons-website/arrow-right.png') }}" alt="Arrow Points" class="w-8 h-8 mr-2">
							En savoir plus
						</a>

						<a href="{{ product.github }}" target="_blank" type="button" class="mb-9 text-white bg-zinc-800 hover:bg-zinc-700 focus:outline-none focus:ring-4 focus:ring-zinc-700 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 border-zinc-700 flex items-center transition-all">
							<img src="{{ asset('assets/img/icons-website/github.png') }}" alt="GitHub Logo" class="w-8 h-8 mr-2">
							GitHub
						</a>
					</div>
					<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">

					<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Tous les avis</h1>
					{% if reviews is defined and reviews is not empty %}
						{% for review in reviews %}
							<li>
								<ul class="bg-black border-2 border-zinc-900 rounded-3xl mt-10 mb-10 justify-center mx-auto p-10">
									<strong>{{ review.user.username }}</strong>
									a publié son avis sur
									<img src="{{ asset('assets/uploads/icons/' ~ review.product.icon) }}" alt="Logo" class="w-16"/>
									<strong>{{ review.product.title }}</strong>
									<br>
									<strong>Note :</strong>
									{{ review.rating }}⭐/ 5 ⭐<br>
									<strong>Avis :</strong>
									{{ review.reviewText }}
								</ul>
							</li>
						{% endfor %}
					{% endif %}
					<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">

					<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Tous les alternatives à
						{{ product.title }}</h1>
					{% if alternatives is defined %}
						{% for alternative in alternatives %}
							<ul class="bg-zinc-950 rounded-3xl mt-10 mb-10 justify-center mx-auto p-3">
								<section class="rounded-3xl w-3/3 mb-10 justify-center mx-auto">
									<div class="gap-8 items-center mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2">
										<div class="mt-4 md:mt-0">
											<img src="{{ asset('assets/uploads/icons/' ~ product.icon) }}" alt="{{ alternative.title }}" class="w-16">
											<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">{{ alternative.title }}</h2>
											<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-green-500 text-white">{{ product.badge.code }}
												•
												{{ product.badge.price }}</span>
											<span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 mb-5 rounded-full text-xs font-medium bg-zinc-500 text-white">{{ product.category.title }}</span>
											<p class="mb-6 text-white md:text-lg">{{ alternative.description }}</p>
										</div>
										<img class="w-full rounded-3xl block" src="{{ asset('assets/uploads/covers/' ~ product.cover) }}" alt="Cover">
									</div>
									<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">
									<div class="flex justify-between px-48">
										<h1 class="mr-10">✅
											{{ alternative.advantage }}</h1>
										<h1>❌
											{{ alternative.incovenient }}</h1>
									</div>
								</ul>
							{% endfor %}
						{% endif %}
					</div>
				</ul>
			</section>
		{% endfor %}
	</html>
</div>
{% include 'footer.html.twig' %}{% endblock %}</html>

