<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}Avis - Swaply
			{% endblock %}
		</title>
	</head>

	{% block body %}
		{% include 'base.html.twig' %}
		<h1 class="text-4xl text-white font-bold text-center mt-5 mb-5">Tous les avis</h1>
		<div class="flex justify-center">
			<a href="{{ path('reviews_new') }}" class="group inline-flex items-center gap-x-2 py-2 px-3 bg-indigo-500 hover:bg-indigo-900 font-medium text-sm text-white rounded-full focus:outline-none transition-all">
				<img src="{{ asset('assets/img/icons-website/plus.png') }}" alt="Logo" class="w-4">
				Écrire un avis
			</a>
		</div>

		{% for message in app.flashes('message') %}
			<div id="alert-border-3" class="flex items-center p-4 mb-4 mt-4 w-4/5 mx-auto text-green-400 border-t-4 border-green-800 bg-gray-800" role="alert">
				<svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
					<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
				</svg>
				<div class="ms-3 text-sm font-medium">
					{{message}}
				</div>
			</div>
		{% endfor %}

		<ul class="bg-black border-2 border-zinc-900 rounded-3xl w-3/4 mt-10 mb-10 justify-center mx-auto p-10">
			{% for review in reviews %}
				<li>
					<strong>{{ review.user.username }}</strong>
					a publié son avis sur
					<img src="{{ asset('assets/uploads/icons/' ~ review.product.icon) }}" alt="Logo" class="w-16"/>
					<strong>{{ review.product.title }}</strong>
					<br>
					<strong>Note :</strong>
					{{ review.rating }}⭐/ 5 ⭐<br>
					<strong>Avis :</strong>
					{{ review.reviewText }}
				</li>
				<hr class="h-px my-16 border-indigo-950 border-2 w-3/4 mx-auto">
			{% endfor %}
		</ul>
			{% include 'footer.html.twig' %}
	{% endblock %}
</html>

