<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{% block title %}Swaply
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	{% block body %}
		{% include 'base.html.twig' %}
		<h1 class="text-center text-3xl font-bold mb-6 text-white">Listes</h1>
		<div class="flex justify-center">
			{% for message in app.flashes('message') %}
				<div id="alert-border-3" class="flex items-center p-4 mb-4 mt-4 w-4/5 mx-auto text-green-400 border-t-4 border-green-800 bg-gray-800" role="alert">
					<svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
						<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
					</svg>
					<div class="ms-3 text-sm font-medium">
						{{message}}
					</div>
				</div>
			{% endfor %}
			<a href="{{ path('add_lists') }}" class="group inline-flex items-center gap-x-2 py-2 px-3 bg-indigo-500 hover:bg-indigo-900 font-medium text-sm text-white rounded-full focus:outline-none transition-all">
				<img src="{{ asset('assets/img/icons-website/plus.png') }}" alt="Logo" class="w-4">
				Créer une liste
			</a>
		</div>
		<div class="flex justify-center gap-5 mt-10 mb-10">
			{% for list in lists %}
				<ul class="bg-zinc-900 rounded-3xl w-96 h-auto p-10">
					<li>
						<img src="{{ asset('assets/uploads/covers/' ~ list.cover) }}" alt="Cover" class="w-full rounded-2xl">
						<p class="text-center text-xl font-bold text-white mt-3 mb-3">{{ list.title }}</p>
						<p class="text-center italic text-zinc-400 mb-3">{{ list.date|date('d/m/Y - H:i') }}</p>
						<p class="mb-3">{{ list.description }}</p>
						<div class="flex justify-center space-x-2 h-10">
							<a type="button" href="{{ list.website }}" class="text-white bg-zinc-800 hover:bg-zinc-700 font-medium rounded-2xl text-sm px-5 py-3 flex items-center justify-center">Accéder</a>
						</div>
					</li>
				</ul>
			{% else %}
				<p>Aucune liste trouvé ! :'(</p>
			{% endfor %}
		</div>
		{% include 'footer.html.twig' %}
	{% endblock %}
</html>

